:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #1f2937; /* gray-900 */
}

.dark {
  color: #e5e7eb; /* gray-200 */
}

button {
  @apply duration-300 hover:cursor-pointer hover:transition-all disabled:cursor-not-allowed;
}
